---
---
@import "{{ site.theme }}";

.page-header {
  // Disables the default green/blue gradient
  background-image: url("{{ site.baseurl }}/assets/images/010.jpg") !important;
  
  // Ensures the image spans across the entire header block without distortion
  background-size: cover !important;
  background-position: center !important;
}
